
*{
    margin: 0;
    padding: 0%;
  }
  .container{
    /* background: linear-gradient(135deg, #850c62,#f80759); */
    background:white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .app-wrapper{
  background-color: #fff;
  min-width: 300px;
  min-height: 550px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  }
  .title{
    color: #f80759;
    text-align: center;
    margin: 80px 0px 40px 0px;
  }
  .name,.email,.password{
    margin: 20px;
    color: gray;
    font-size: 16px;
  
  }
  .password{
    margin-bottom: 40px;
  }
  .input{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
  }
  .error{
    color: red;
  }
  .submit{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 10px 60px;
    background: linear-gradient(to right, #ab1dcf,#f80759);
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
    rgba(0,0,0,0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: a11 o.1s;
    
  }
  
  button:active{
    transform: translateY(2px);
  
  }
  
  .form-success{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #f80759;
  
  }
  
/* register page css */

  #register, #login {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  form label, form input {
    display: block;
    /* //margin-bottom: 10px; */
    width: 90%
  }
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  }
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }









/* loader css */
/* .container{
  background-color: black;
} */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 200px;
  margin-left: 45%;
  
  color: white;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}